<tr>
  <td class="theme round">
    <span class="content"><%=link_to theme.content, theme %></span>
  </td>
  
</tr>

<tr class="timestamp">
  <td class=" round">
   <span class="timestamp">
      Posted <%= time_ago_in_words(theme.created_at) %> ago 
    </span>
  </td>
</tr>
