
<% if !signed_in? %>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<%else %>
<table class="profile" summary="For signed-in users">
   
 <tr>
     <td class="main" >
      <h1 class="theme">Want create new theme?</h1>
        <%= render 'shared/theme_form' %>
      </td>

        <td class="sidebar round" rowspan="2" >
        
           <%= render 'shared/user_info' %>
      </td>
 </tr>

  <tr>
         <td class="feed">
             <%= render 'shared/feed' %>
         </td>
    
         
   
  
  </tr>
  
  </table>
<% end %>

